:80 {
    encode gzip zstd

    handle_path /storage/* {
        root * /srv/storage
        file_server
    }

    handle {
        root * /var/www/html/public
        php_fastcgi app:9000
        file_server
    }
}
